@font-face {
  font-family: "iconfont"; /* Project id 4568180 */
  src: url('iconfont.woff2?t=1717140591094') format('woff2'),
       url('iconfont.woff?t=1717140591094') format('woff'),
       url('iconfont.ttf?t=1717140591094') format('truetype'),
       url('iconfont.svg?t=1717140591094#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-order:before {
  content: "\e65b";
}

.icon-menu-settings:before {
  content: "\e65c";
}

.icon-menu-promotion:before {
  content: "\e65d";
}

.icon-menu-goods:before {
  content: "\e65e";
}

.icon-menu-home:before {
  content: "\e65f";
}

